.first-section{
    padding-top: 50px !important;
    background-image: url('../images/points-skyblue-opacity.png'),url('../images/degradado_Mesa.png');
    background-repeat: no-repeat;
    min-height: 800px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #11172D
}

.first-section-periscope{
    background-image: url('../images/background-puntos-grises-periscope.png');
    padding-top: 50px !important;
    background-repeat: no-repeat;
    min-height: 800px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #fff
}
.second-section{
    
    background-image: url('../images/points-white-background.png');
    background-color: white;
    background-repeat: no-repeat;
    min-height: 800px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.third-section{
    
    background-image: url('../images/background-blue-footer.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 300px;
    padding-top: 40px
}


.fourth-row{
    padding-top: 8%;
}

.menu{
    color: white;
}

#logo-henry{
    display: block;
    margin: 0 auto;
    width: calc(50% );
    height: auto;
}

.first-row{
    margin-bottom: 100px
}

.btn-descargar{
    color: white;
    position: absolute;
    bottom: 0px;
    transform: rotate(-90deg);
}

.btn-outline-light {
    color: #f8f9fa;
    border-color: #00ddba;
}

button.btn.btn-outline-light.btn-descargar.btn-lg {
    left: -25px;
    border-radius: 30px;
}

.resumen-text{
    left: -39px;
    color: white;
    position: absolute;
    bottom: 45px;
    transform: rotate(-90deg);
}

.row.three-row {
    padding-top: 40px;
}


button.btn.btn-outline-light.btn-descargar.btn-lg:hover {
    background-color: #00ddba;
    border: none;
}

.social-media-icons{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.social-media-icons>img{
    margin:8px;
}

i.fab {
    display: inline-block;
    border-radius: 60px;
    border:1px solid white;
    padding: 0.5em 0.7em;
  
  }

  .box-inside-white{
    -webkit-box-shadow: 0px 0px 82px -8px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 0px 82px -8px rgba(0,0,0,0.35);
    box-shadow: 0px 0px 82px -8px rgba(0,0,0,0.35);
    min-height: 200px;
    background-color: white;
    padding: 4%;
    height: 600px;
  }

  .who-am-i-text {
    white-space: pre-line;
    font-size: 55px;
    font-weight: 900;
    color: #0a2240;
}

.footer-text{
    white-space: pre-line;
    color: #d6d7db;
}

@media  screen and (max-width: 1920px){
    .img-henry {
        width: 563px;
        height: auto;
        position: absolute;
        right: -20%;
        top: 17%;
    }
    #overlay-button {
        position: absolute;
        right: 13.6666%;
        padding: 26px 11px;
        z-index: 5;
        cursor: pointer;
        user-select: none;
    }
}

#overlay-button-carousel {
    position: absolute;
    top: 16px;
    right: -3px;

    z-index: 5;
    cursor: pointer;
    user-select: none;
}

#overlay-button-carousel::after{
    content: "\f0c9";
}

/* (1366x768) WXGA Display */
@media  screen and (max-width: 1366px) {
    .img-henry {
        width: 606px;
        height: auto;
        position: absolute;
        right: -25%;
        top: 17%;
    
    }
    #overlay-button {
        position: absolute;
        right: 5.5em !important;
        padding: 26px 11px;
        z-index: 5;
        cursor: pointer;
        user-select: none;
    }
}


.mail-text>a{
    color: #d6d7db;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


.icons>img {
    margin-left: 20px;
    margin-right: 20px;
}


input[type=checkbox] {
    display: none;
}

#overlay-button {
    position: absolute;
    right: 13.6666%;
    padding: 26px 11px;
    z-index: 5;
    cursor: pointer;
    user-select: none;
}

#overlay-button::after{
    content: "\f0c9";
}

#overlay {
    height: 100vh;
    width: 100vw;
    background-image: url('../images/background-menu.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 2;
    visibility: hidden;
    position: fixed;
}

#overlay-button:hover span, #overlay-button:hover span:before, #overlay-button:hover span:after {
    background: #3F3E40;
}



input[type=checkbox]:checked ~ #overlay {
  visibility: visible;
}


input[type=checkbox]:checked ~ #overlay-button::after {
  content: "\f00d";
}
input[type=checkbox]:checked ~ #overlay-button span:after {
  transform: rotate(-45deg) translate(7px, -7px);
}

input[type=checkbox]:checked ~ #overlay-button-carousel::after {
    content: "\f00d";
    color: white;
  }
  input[type=checkbox]:checked ~ #overlay-button-carousel span:after {
    transform: rotate(-45deg) translate(7px, -7px);
  }



#overlay ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    padding-left: 0;
    list-style-type: none;
    
}


#overlay ul li a {
    color: #fefefe;
    text-decoration: none;
    font-size: 5em;
    font-family: 'TTNorms', sans-serif;
    font-weight: 900;
}


/*
Tablet Resolution

*/

@media  screen and (max-width: 1280px){
    .social-media-icons {
        color: white;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        top: 33px;
    }

    .button-div,.resumen-ejecutivo {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
        top: 2px;
    }

    light.btn-descargar.btn-lg {
        left: -44px;
        border-radius: 30px;
        /* top: -13px; */
    }

    .resumen-text {
        left: -59px;
        color: white;
        position: absolute;
        bottom: 45px;
        transform: rotate(-90deg);
    }
    #logo-henry {
        display: block;
        margin: 0 auto;
        width: calc(75% );
        height: auto;
    }

    .row.first-row {
        margin-top: 78px !important;
    }

    .row.three-row {
        margin-bottom: 200px;
    }

    .btn.btn-outline-light.btn-descargar.btn-lg {
        left: -44px !important;
        border-radius: 30px;
        /* top: -13px; */
    }

    .image-div{
    margin-top: 30px;
    }
}


div#modalPeriscope>div,div#modalLaBrochete>div ,div#modalQueChivo>div {
    max-width: 84% !important;
    margin-right: auto;
    margin-left: auto;
    margin-top: 179px;
    margin-bottom: 20px;
}

.img-periscope{
    max-width: 100%;
}

.periscope-first-text>.first-text,.img-cellphone-web-periscope-p{
    margin-bottom: 2px;
}

img.img-cellphone-web-periscope {
    width: 73px;
    margin-top: 23px;
    margin-bottom: 2px;
}


/*
.img-persicope-1-background{
    background: url('../images/periscope/1.png');
    background-color: white;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.background-periscope {
    background: url(../images/periscope/2.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-position: 97.9%;
    background-size: contain;
}

*/


img.img-periscope-text {
    position: absolute;
    right: -3.2%;
    z-index: 9;
    height: 88%;
    margin-top: 6%;
  
}


.modal-backdrop.show {
    opacity: 0.07;
}

.button-exit-modal {
    position: fixed;
    z-index: 9;
    top: 49%;
    right: 3%;
    opacity: 1;
}

.button-exit-modal>img{
    width: 42px;
}

.modal-body {
    padding-top: 0px;
    padding-bottom: 0px;
}